.hero {
  height: 15vh;
  color: var(--light-mode-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.hero h1 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: var(--light-mode-text);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter select {
  padding: 5px 10px;
  outline: none;
  border: 1px solid #000;
  border-radius: 3px;
  color: var(--color-white);
  color: var(--light-mode-text);
}

.shows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.shows-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .shows-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 370px) {
  .shows-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
