.show-item {
  display: flex;
  flex-direction: column;
  color: var(--light-mode-text);
  align-items: flex-end;
  background-color: var(--color-white);
  margin-bottom: 3rem;
  text-decoration: none;
  box-shadow: 5px 5px 10px 0 #dfd5d5;
  padding-right: 10px;
}

.show-item,
.view-more,
.details-container {
  background-color: var(--dark-blue-elements);
  color: var(--color-white);
  box-shadow: 5px 5px 10px 0;
  border-radius: 8px;
}

.show-image {
  display: block;
  width: 100%;
  height: 100%;
}

.show-name {
  margin: 5px 0;
  padding-left: 5px;
}

.details-btn {
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
}
